version: 2.1
# Use a package of configuration called an orb.
orbs:
  aws-cli: circleci/aws-cli@2.0.3
  # Choose either one of the orbs below
  # welcome: circleci/welcome-orb@0.4.1
  # aws-cli: circleci/aws-cli@2.0.3
# Define the jobs we want to run for this project
jobs:
  configure_infrastructure: 
    docker:
      - image: python:3.10
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints: ["be:90:dc:e3:0c:c1:5f:aa:7f:fe:50:fe:ee:29:c1:47"] # You can get this ID in the section where you registered the SSH Key
      - run:
          name: Install dependencies
          command: |
            # install the dependencies needed for your playbook
            apk add --update ansible 
      - run:
          name: Configure server
          command: |
            ansible-playbook -i inventory.txt main-remote.yml
workflows:
  # Name the workflow
  myWorkflow:
    jobs:
      - configure_infrastructure
